sistemaingresso/__pycache__/*
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*
/apps/generos/__pycache__/*
/apps/generos/migrations/*
/apps/filmes/__pycache__/*
/apps/filmes/migrations/*
/apps/cadeiras/__pycache__/*
/apps/cadeiras/migrations/*
/apps/sessoes/__pycache__/*
/apps/sessoes/migrations/*